<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/loginForm/login.css">
     <title>Login</title>
</head>
<body>
    <div class="background">
        <div class="container">
            <div class="title">Welcome Everytime!</div>
            <div class="form_class">
                <form>
                    <div class="label">
                        <label>아이디</label>
                    </div>
                    <div>
                        <input type="text" id="userID" name="userID">
                    </div>
                    <div class="label">
                        <label>비밀번호</label>
                    </div>
                    <div>
                        <input type="password" id="userPW" name="userPW">
                    </div>
                </form>
            </div>
            <div class="forget_password">
                <div class="href" id="forget_password">비밀번호를 잊으셨나요?</div>
            </div>
            <button class="login_button">로그인</button>
            <div class="sign_up">
                <div class="text">계정이 필요한가요?</div>
                <div class="href" id="signin">가입하기</div>
            </div>
        </div>
    </div>
</body>
<script src="/static/js/loginForm/login.js"></script>
</html>