<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/loginForm/signup.css">
    <script src="/static/js/jquery/jquery-3.6.0.min.js"></script>
    <script src="/static/js/loginForm/signin.js"></script>
    <title>Sign Up</title>
</head>
<body>
    <div class="background">
        <div class="container">
            <div class="title">계정만들기</div>
            <div class="form_class">
                <form id="form" onsubmit="return false;">
                    <div class="label">
                        <label class="dup_label">아이디</label>
                        <div class="dup_text"> - ID is already registered</div>
                    </div>
                    <div>
                        <input  class="dup_input" type="text" id="userID" name="userID">
                    </div>
                    <div class="label">
                        <label>사용자명</label>
                    </div>
                    <div>
                        <input type="text" id="userName" name="userName">
                    </div>
                    <div class="label">
                        <label>비밀번호</label>
                    </div>
                    <div>
                        <input type="password" id="userPW" name="userPW">
                    </div>
                    <div class="label">
                        <label>핸드폰번호</label>
                    </div>
                    <div>
                        <input type="text" id="userPhone" name="userPhone">
                    </div>
                    <button id="signup" class="signup_button">회원가입</button>
                </form>
            </div>
            <div class="login">
                <div class="href" id="login">이미 계정이 있으신가요?</div>
            </div>
            <div class="agree">
                등록하는 순간 Everytime의<div class="last_href">서비스 이용 약관</div>과<div class="last_href">개인정보 보호 정책</div>에 동의하게 됩니다.
            </div>

        </div>
    </div>
</body>
<script>
    action_setting();
</script>
</html>